<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Dodaj producenta gry</title>
</head>
<body>
<main class="main-content margin-box" layout:fragment="content">
    <h2 class="list-heading">Panel administracyjny</h2>
    <h3 class="list-description">Dodaj nową firmę</h3>

    <form action="" th:action="@{/admin/dodaj-firme}" method="post" class="add-content-form" id="add-content-form"
          th:object="${company}"
          autocomplete="off" enctype="multipart/form-data">
        <div class="form-button-container">
            <a class="form-back-button" href="#" th:href="@{/admin}">
                <i class="fa-solid fa-chevron-left logo"></i>wróć
            </a>
            <button class="form-back-button" onclick="clearCompanyForm()" type="button">wyczyść
                <i class="fa-solid fa-rotate-right logo"></i>
            </button>
        </div>

        <label for="company-name">Nazwa (max 35 znaków)</label>
        <input type="text" id="company-name" placeholder="Firma"
               th:field="*{name}"
               th:classappend="${#fields.hasErrors('name')} ?'error-input':'' "
               aria-autocomplete="none"
               autocomplete="off"
               autocorrect="off"
               oninput="validateCompanyName()">
        <ul id="show-suggestion-list" class="hide-notification"></ul>
        <div class="input-validation-container">
            <p class="notification-error" id="name-error"></p>
            <p class="notification-error" th:errors="${company.name}">Powiadomienie</p>
        </div>

        <label for="company-country">Kraj pochodzenia (Wyszukiwarka)</label>

        <select multiple id="company-country" th:field="*{country}">
            <option th:each="country:${allCountries}" th:value="${country}"
                    th:text="${country}"></option>
        </select>

        <div class="input-validation-container">
            <p class="notification-error" id="country-error"></p>
            <p class="notification-error" th:errors="${company.country}">Powiadomienie</p>
        </div>

        <label for="company-short-description">Krótki opis(100 - 1500 znaków)</label>
        <textarea rows="8" id="company-short-description"
                  th:field="*{shortDescription}"
                  th:classappend="${#fields.hasErrors('shortDescription')} ? 'error-input':'' "
                  aria-autocomplete="none"
                  autocomplete="off"
                  autocorrect="off"
                  onkeyup="validateCompanyShortDescription()">
        </textarea>
        <div class="input-validation-container">
            <p class="notification-error" id="short-description-error"></p>
            <p class="notification-error" th:errors="${company.shortDescription}">Powiadomienie</p>
        </div>
        <label for="company-long-description">Pełny opis(200 - 100.000 znaków)</label>

        <textarea rows="14" id="company-long-description" class="content-editor"
                  th:field="*{description}"
                  th:classappend="${#fields.hasErrors('description')} ? 'error-input': '' "
                  aria-autocomplete="none"
                  autocomplete="off"
                  autocorrect="off"
                  onkeyup="validateCompanyLongDescription()">
        </textarea>
        <div class="input-validation-container">
            <p class="notification-error" id="long-description-error"></p>
            <p class="notification-error" th:errors="${company.description}">Powiadomienie</p>
        </div>

        <label for="poster">Logo firmy 1Mb (max 1200px x 1200px)</label>
        <span id="company-image-proportion-height"></span>
        <span id="company-image-proportion-width"></span>
        <div class="file-container">
            <div class="form-element company-form-element">

                <input type="file" id="poster" accept="image/jpeg,image/jpg,image/png"
                       th:field="*{poster}"
                       th:classappend="${#fields.hasErrors('poster')} ?'error-input':'' "
                       onchange="validateCompanyPoster()">
                <label for="poster" id="poster-preview">
                    <img th:src="@{/img/notfound.jpg}" alt="not-upload">
                    <div class="game-poster-name">
                        <span>+</span>
                    </div>
                </label>
            </div>
        </div>
        <div class="input-validation-container">
            <p class="notification-error" id="company-poster-error"></p>
            <p class="notification-error" th:errors="${company.poster}">Powiadomienie</p>
        </div>

        <div class="checkbox-center-container">
            <div class="checkbox-margin-box">
                <label class="checkbox-container">Producent
                    <input type="checkbox"
                           onclick="validateIsProducerOrIsPublisher()" id="is-producer" th:field="*{producer}">
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="checkbox-margin-box">
                <label class="checkbox-container">Wydawca
                    <input type="checkbox"
                           onclick="validateIsProducerOrIsPublisher()" id="is-publisher" th:field="*{publisher}">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        <div class="input-validation-container">
            <p class="notification-error" id="is-company-error"></p>
            <p class="notification-error" th:errors="${company.publisher}">Powiadomienie</p>
            <p class="notification-error" th:errors="${company.producer}">Powiadomienie</p>
        </div>

        <button onclick="return validateCompanyForm()" type="submit" id="form-button">Dodaj</button>
    </form>

    <script src="/scripts/multipleFormSelect.js" th:src="@{/scripts/multipleFormSelect.js}"></script>
    <script src="/scripts/companyFormValidation.js" th:src="@{/scripts/companyFormValidation.js}"></script>
    <script src="https://cdn.tiny.cloud/1/he5czymkzvg283r2v9jzaxf9ppuvobtcwngw9chci0rjn4aa/tinymce/6/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '.content-editor',
            plugins: "wordcount lists link preview pagebreak autoresize Search and Replace",
            toolbar: 'undo|redo|removeformat|numlist |bullist | outdent |indent| bold|italic| h2 | link | preview|',
            menubar: '',
            toolbar_sticky: false,
            icons: 'thin',
            content_css: "/styles/tinymce.css",
            setup: function (editor) {
                editor.on('change', function (e) {
                    validateCompanyLongDescription();
                });
            },
            min_height: 400,
            max_height: 800,
        });

    </script>
    <script>
        new MultiSelectTag('company-country');
    </script>
</main>
</body>
</html>