<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Dodaj producenta gry</title>
</head>
<body>
<main class="main-content margin-box" layout:fragment="content">
    <h2 class="list-heading">Panel administracyjny</h2>
    <h3 class="list-description">Dodaj nową grę</h3>

    <form action=""  th:action="@{/admin/dodaj-gre}" method="post" enctype="multipart/form-data"
          class="add-content-form" id="add-content-form" autocomplete="off" th:object="${game}">

        <div class="form-button-container">
            <a class="form-back-button" href="#" th:href="@{/admin}">
                <i class="fa-solid fa-chevron-left logo"></i>wróć
            </a>
            <button class="form-back-button" onclick="clearGameForm()" type="button" id="game-reset-button">wyczyść
                <i class="fa-solid fa-rotate-right logo"></i>
            </button>
        </div>

        <label for="game-title">Tytuł (max 120 znaków)</label>
        <input type="text" id="game-title" placeholder="spacja = istniejące gry"
               th:field="*{title}"
               th:classappend="${#fields.hasErrors('title')} ?'error-input':'' "
               aria-autocomplete="none"
               autocomplete="off"
               autocorrect="off"
               onkeyup="validateGameTitle()">
        <ul id="show-title-suggestion-list" class="hide-notification"></ul>
        <div class="input-validation-container">
            <p class="notification-error" id="title-error"></p>
            <p class="notification-error" th:errors="*{title}">Powiadomienie</p>
        </div>

        <label for="game-short-description">Krótki opis(100 - 320 znaków)</label>
        <textarea rows="5" id="game-short-description"
                  th:field="*{shortDescription}"
                  th:classappend="${#fields.hasErrors('shortDescription')} ? 'error-input':'' "
                  aria-autocomplete="none"
                  autocomplete="off"
                  autocorrect="off"
                  onkeyup="validateGameShortDescription()">
        </textarea>
        <div class="input-validation-container">
            <p class="notification-error" id="game-short-description-error"></p>
            <p class="notification-error" th:errors="*{shortDescription}">Powiadomienie</p>
        </div>

        <label for="game-long-description">Pełny opis(200 - 100.000 znaków)</label>
        <textarea rows="14" id="game-long-description" class="content-editor"
                  th:field="*{description}"
                  th:classappend="${#fields.hasErrors('description')} ? 'error-input': '' "
                  aria-autocomplete="none"
                  autocomplete="off"
                  autocorrect="off"
                  onkeyup="validateGameLongDescription()">
        </textarea>
        <div class="input-validation-container">
            <p class="notification-error" id="game-long-description-error"></p>
            <p class="notification-error" th:errors="*{description}">Powiadomienie</p>
        </div>

        <label for="game-trailer-id">Id Trailera DailyMotion (max 30 znaków)</label>
        <input type="text" id="game-trailer-id"
               th:field="*{dailymotionTrailerId}"
               th:classappend="${#fields.hasErrors('dailymotionTrailerId')} ?'error-input':'' "
               aria-autocomplete="none"
               autocomplete="off"
               autocorrect="off"
               onkeyup="validateGameTrailerId()">
        <div class="input-validation-container">
            <p class="notification-error" id="game-trailer-id-error"></p>
            <p class="notification-error" th:errors="*{dailymotionTrailerId}">Powiadomienie</p>
        </div>

        <div class="input-border">
            <label for="producer-name">Producent (wybierz z listy)</label>
            <input type="text" id="producer-name"
                   th:field="*{producer}"
                   th:classappend="${#fields.hasErrors('producer')} ?'error-input':'' "
                   aria-autocomplete="none"
                   autocomplete="off"
                   autocorrect="off"
                   onkeyup="validateGameProducer()">
            <ul id="show-producers-suggestion-list" class="hide-notification"></ul>
            <label for="producer-value">Wybrany producent</label>
            <input readonly type="text" id="producer-value">
            <div class="input-validation-container">
                <p class="notification-error" id="game-producer-error"></p>
                <p class="notification-error" th:errors="*{producer}">Powiadomienie</p>
            </div>
        </div>

        <div class="input-border">
            <label for="publisher-name">Wydawca (wybierz z listy)</label>
            <input type="text" id="publisher-name"
                   th:field="*{publisher}"
                   th:classappend="${#fields.hasErrors('publisher')} ?'error-input':'' "
                   aria-autocomplete="none"
                   autocomplete="off"
                   autocorrect="off"
                   onkeyup="validateGamePublisher()">
            <ul id="show-publishers-suggestion-list" class="hide-notification"></ul>

            <label for="publisher-value">Wybrany wydawca</label>
            <input readonly type="text" id="publisher-value">

            <div class="input-validation-container">
                <p class="notification-error" id="game-publisher-error"></p>
                <p class="notification-error" th:errors="*{publisher}">Powiadomienie</p>
            </div>
        </div>

        <label for="release-date">Data wydania</label>
        <span>(Jeśli jest nieznana zostaw puste)</span>
        <input type="date" id="release-date"
               min="1980-01-01"
               max="2099-01-01"
               th:field="*{releaseYear}"
               th:classappend="${#fields.hasErrors('releaseYear')} ?'error-input':'' "
               oninput="validateGameReleaseDate()">

        <div class="input-validation-container">
            <p class="notification-error" id="release-date-error"></p>
            <p class="notification-error" th:errors="*{releaseYear}">Powiadomienie</p>
        </div>

        <label for="categories">Kategorie (wybierz z listy)</label>
        <span><i class="fa fa-solid fa-crown"></i> główna kategoria</span>
        <select multiple id="categories" th:field="*{category}">
            <option th:each="cat:${allCategories}" th:value="${cat.name}" th:text="${cat.name}"></option>
        </select>
        <input type="hidden" readonly id="mainCategory" name="mainCategory" value="" th:field="*{mainCategory}">

        <div class="input-validation-container">
            <p class="notification-error" id="game-categories-error"></p>
            <p class="notification-error" th:errors="*{category}">Powiadomienie</p>
            <p class="notification-error" th:errors="*{mainCategory}">Powiadomienie</p>
        </div>

        <div class="input-border" id="game-modes-input-container">
            <label for="game-modes">Tryby gry (wybierz z listy)</label>

            <div class="checkbox-left-center-container" id="game-modes">
                <div class="checkbox-margin-box" th:each="modes:${allGameModes}">
                    <label class="checkbox-container">
                        <span th:text="${modes.name}"></span>
                        <input type="checkbox" th:field="${game.gameModes}" th:value="${modes.name}"
                               onclick="validateGameMode()">
                        <span class="checkmark"></span>
                    </label>
                </div>


                <div id="show-players-range" class="hide-players-range">
                    <label for="min-players">Minimalna liczba graczy</label>
                    <input type="number"
                           min="1"
                           max="999"
                           id="min-players"
                           th:classappend="${#fields.hasErrors('gameModes')} ?'error-input':'' "
                           th:field="${game.playerRange.minPlayers}"
                           value="1"
                           oninput="validatePlayersRange()"/>
                    <label for="max-players">Maksymalna liczba graczy</label>
                    <input type="number"
                           min="1"
                           max="2000"
                           id="max-players"
                           th:classappend="${#fields.hasErrors('gameModes')} ?'error-input':'' "
                           th:field="${game.playerRange.maxPlayers}"
                           oninput="validatePlayersRange()"/>
                </div>
            </div>

            <div class="input-validation-container">
                <p class="notification-error" id="game-modes-error"></p>
                <p class="notification-error" th:errors="*{gameModes}">Powiadomienie</p>
            </div>

            <div class="input-validation-container">
                <p class="notification-error" id="player-range-error"></p>
                <p class="notification-error" th:errors="*{playerRange}">Powiadomienie</p>
            </div>
        </div>

        <label for="platforms">Platformy (wybierz z listy)</label>
        <select multiple id="platforms" th:field="*{platform}">
            <option th:each="platforms:${allAvailableGamePlatforms}" th:value="${platforms}"
                    th:text="${platforms}"></option>
        </select>
        <div class="input-validation-container">
            <p class="notification-error" id="game-platforms-error"></p>
            <p class="notification-error" th:errors="*{platform}">Powiadomienie</p>
        </div>

        <label for="game-poster">Plakat gry max min 400x600 rozmiar 1Mb (jpg, png, jpeg)</label>
        <p id="game-poster-proportion-height"></p>
        <p id="game-poster-proportion-width"></p>
        <div class="file-container">
            <div class="form-element">
                <input type="file" id="game-poster" accept="image/jpeg,image/jpg,image/png"
                       th:field="*{poster}"
                       th:classappend="${#fields.hasErrors('poster')} ?'error-input':'' "
                       onchange="validateGamePoster()">
                <label for="game-poster" id="game-poster-preview">
                    <img class="game-poster-preview" th:src="@{/img/notfound.jpg}" alt="not-upload">
                    <div class="game-poster-name">
                        <span>+</span>
                    </div>

                </label>
            </div>
        </div>

        <div class="input-validation-container">
            <p class="notification-error" id="poster-error"></p>
            <p class="notification-error" th:errors="${game.poster}">Powiadomienie</p>
        </div>

        <label for="small-suggestion-poster">Mały baner reklamowy min rozmiar 600x200 max 1Mb (jpg, png, jpeg)</label>
        <p id="small-suggestion-proportion-height"></p>
        <p id="small-suggestion-proportion-width"></p>
        <div class="file-container">
            <div class="form-element small-image-element" >
                <input type="file" id="small-suggestion-poster" accept="image/jpeg,image/jpg,image/png"
                       th:field="*{smallPosterSuggestion}"
                       th:classappend="${#fields.hasErrors('smallPosterSuggestion')} ?'error-input':'' "
                       onchange="validateSmallSuggestionPoster()">
                <label for="small-suggestion-poster" id="small-suggestion-poster-preview">
                    <img class="small-suggestion-poster-preview" th:src="@{/img/notfoundhorizontal.jpg}"
                         alt="not-upload">
                    <div class="small-suggestion-poster-name">
                        <span>+</span>
                    </div>

                </label>
            </div>
        </div>

        <div class="input-validation-container">
            <p class="notification-error" id="small-suggestion-poster-error"></p>
            <p class="notification-error" th:errors="${game.smallPosterSuggestion}">Powiadomienie</p>
        </div>



        <div id="big-suggestion-poster-display" class="hide-big-suggestion-poster">
            <label for="big-suggestion-poster">Duży plakat promocyjny (dla gier przed premierą) min rozmiar 1100x350 1Mb (jpg, png, jpeg)</label>
            <p id="big-suggestion-proportion-height"></p>
            <p id="big-suggestion-proportion-width"></p>
            <div class="file-container">
                <div class="form-element big-suggestion-element">
                    <input type="file" id="big-suggestion-poster" accept="image/jpeg,image/jpg,image/png"
                           th:field="*{bigPosterSuggestion}"
                           th:classappend="${#fields.hasErrors('bigPosterSuggestion')} ?'error-input':'' "
                           onchange="validateBigSuggestionPoster()">

                    <label for="big-suggestion-poster" id="big-suggestion-poster-preview">
                        <img class="big-suggestion-poster-preview" th:src="@{/img/notfoundhorizontal.jpg}"
                             alt="not-upload">
                        <div class="big-suggestion-poster-name">
                            <span>+</span>
                        </div>

                    </label>
                </div>
            </div>
            <div class="input-validation-container">
                <p class="notification-error" id="big-suggestion-poster-error"></p>
                <p class="notification-error" th:errors="${game.bigPosterSuggestion}">Powiadomienie</p>
            </div>
        </div>


        <div class="checkbox-margin-box">
            <label class="checkbox-container">Gra polecana przez redakcje
                <input type="checkbox" name="isPromoted" id="isPromoted" onkeyup="validateIsPromoted()"
                       th:field="*{promoted}">
                <span class="checkmark"></span>
            </label>
        </div>
        <button onclick="return sendForm()" type="submit" id="game-add-form-button">Dodaj</button>
    </form>
    <script src="/scripts/gameFromValidation.js" th:src="@{/scripts/gameFromValidation.js}"></script>
    <script src="/scripts/multipleFormSelect.js" th:src="@{/scripts/multipleFormSelect.js}"></script>

    <!--    <script src="https://cdn.tiny.cloud/1/he5czymkzvg283r2v9jzaxf9ppuvobtcwngw9chci0rjn4aa/tinymce/6/tinymce.min.js"-->
    <!--            referrerpolicy="origin"></script>-->
    <!--    <script>-->
    <!--        tinymce.init({-->
    <!--            selector: '.content-editor',-->
    <!--            plugins: "wordcount lists link preview pagebreak autoresize Search and Replace",-->
    <!--            toolbar: 'undo|redo|removeformat|numlist |bullist | outdent |indent| bold|italic| h2 | link | preview|',-->
    <!--            menubar: '',-->
    <!--            toolbar_sticky: false,-->
    <!--            icons: 'thin',-->
    <!--            content_css: "/styles/tinymce.css",-->
    <!--            setup: function (editor) {-->
    <!--                editor.on('change', function (e) {-->
    <!--                    validateGameLongDescription();-->
    <!--                });-->
    <!--            },-->
    <!--            min_height: 400,-->
    <!--            max_height: 800,-->
    <!--        });-->
    <!--    </script>-->
    <script>
        new MultiSelectTag('categories');
        new MultiSelectTag('platforms');
    </script>
</main>
</body>
</html>