<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
        <head>
            <title>Kategorie gier - Game-zone</title>
        </head>
<body>
    <main class="main-content margin-box" layout:fragment="content">
        <h2 class="list-heading" th:text="${heading}">Kategorie gier</h2>
        <p class="list-description" th:text="${description}">Opis</p>
        <ul class="list-border">
            <li th:each="category:${categories}">
                <a  class="category-listing" th:href="@{|/gry/kategorie/${category.name}|}"  th:text="${#strings.capitalize(category.name)}">
                    Horror
                </a>
            </li>
        </ul>
    </main>
</body>
</html>