<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="|${heading} - GameZone|">Firma - Game-zone</title>
</head>
<body>
<main class="main-content margin-box" layout:fragment="content">
    <h2 class="list-heading display-inline-flex" th:text="${heading}">Tytuł</h2>
    <img class="company-logo-cover" src="/img/notfound.jpg"
         th:src="${company.poster ne null} ? @{|/galeria/firmy/${company.poster}|} :@{/galeria/gry/game-poster-placeholder.jpg}"
         th:alt="|${company.name} logo|">
    <p class="list-description display-block" th:text="${description}">Opis</p>
    <div class="company-details-center-box">
        <p th:text="|Kraj: ${country}|">Opis</p>
        <div class="company-details">
            <p th:if="${company.publisher}" th:text="Wydawca">Wydawca</p>
            <p th:if="${company.producer}" th:text="Producent">Producent</p>
            <p th:if="${isPolishCompany && company.producer}">Polski Producent</p>
            <p th:if="${isPolishCompany && company.publisher}">Polski Wydawca</p>
        </div>
    </div>


    <div class="company-button-container">
        <a class="company-type-button" href="/katalog-firm/firma/polscy-producenci"
           th:href="@{/katalog-firm/firma/polscy-producenci}">Polscy Producenci Gier</a>

        <a class="company-type-button" href="/katalog-firm/firma/polscy-wydawcy"
           th:href="@{/katalog-firm/firma/polscy-wydawcy}">Polscy Wydawcy Gier</a>

        <a class="company-type-button" href="/katalog-firm/firma/producenci/top-producenci"
           th:href="@{/katalog-firm/firma/producenci/top-producenci}">Producenci Gier</a>

        <a class="company-type-button" href="/katalog-firm/firma/wydawcy/top-wydawcy"
           th:href="@{/katalog-firm/firma/wydawcy/top-wydawcy}">Wydawcy Gier</a>
        <div class="company-search-container">
            <div class="company-search-row" id="company-search-row">
                <input type="text" id="company-search-input"
                       class="company-search-input"
                       placeholder="szukaj firmy"
                       aria-label="szukaj firmy"
                       aria-autocomplete="none"
                       autocomplete="off"
                       autocorrect="off">
                <button class="company-search-button"><i class="fa-solid fa-xmark"></i></button>
                <div class="company-result-box company-result-box-hide" id="company-result-box">
                    <div id="company-result-list">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="game-full-description">
        <section class="game-section">
            <section th:utext="${company.description}"></section>
        </section>
    </div>

    <div class="popular-produced-games" th:unless="${allPromotedGamesByProducerId.isEmpty()}">
        <h2 class="article-heading" th:text="|Popularne gry wyprodukowane przez ${company.name}|">
            Gry wyprodukowane przez</h2>
        <section class="companies-list-container">
            <a href="#" th:href="@{|/gry/${#strings.replace(allGames.title,' ','-')}/${allGames.id}|}"
               class="company-game-cover" th:each="allGames,count:${allPromotedGamesByProducerId}"
               th:if="${count.index lt 6}">
                <img src="/img/notfound.jpg"
                     th:alt="|${allGames.title}-cover-poster|"
                     th:src="${allGames.poster ne null} ? @{|/galeria/gry/${allGames.poster}|} : @{/galeria/gry/game-poster-placeholder.jpg}"
                >
                <p th:text="${allGames.title}">Mass Effect 3</p>
            </a>
        </section>
    </div>

    <div class="popular-produced-games" th:unless="${allGamesByPublisherId.isEmpty()}">
        <h2 class="article-heading" th:text="|Popularne gry wydane przez ${company.name}|">
            Gry wydane przez</h2>
        <section class="companies-list-container">
            <a href="#" th:href="@{|/gry/${#strings.replace(allGames.title,' ','-')}/${allGames.id}|}"
               class="company-game-cover" th:each="allGames,count:${allPromotedGamesByPublisherId}"
               th:if="${count.index lt 6}">

                <img src="/img/notfound.jpg"
                     th:src="${allGames.poster ne null} ? @{|/galeria/gry/${allGames.poster}|} : @{/galeria/gry/game-poster-placeholder.jpg}"
                     th:alt="game-poster">
                <p th:text="${allGames.title}">Mass Effect 3</p>
            </a>
        </section>
    </div>

    <div th:unless="${allGamesByProducerId.isEmpty()}">
        <section>
            <h2 class="article-heading" th:text="|Wszystkie gry wyprodukowane przez ${company.name}|"></h2>
            <ul id="games-list-producer" class="games-list-hide container-limit">
                <li th:each="allGames:${allGamesByProducerId}">
                    <a class="games-list-container" href="#"
                       th:href="@{|/gry/${#strings.replace(allGames.title,' ','-')}/${allGames.id}|}">
                        <span class="all-games-list" th:text="${allGames.title}"></span>
                        <span class="games-date"
                              th:text="${allGames.firstReleaseDate.year ne 9999} ? ${allGames.firstReleaseDate.year} : 'nieogłoszona' "></span>

                    </a>
                </li>
                <li th:if="${allGamesByProducerId.size() ge 25}">
                    <button id="producer-button" class="company-type-button" onclick="showAllProducedGames()"
                            type="button">Pokaż wszystkie wyprodukowane
                    </button>
                </li>
            </ul>
        </section>
    </div>

    <div th:unless="${allGamesByPublisherId.isEmpty()}">
        <section>
            <h2 class="article-heading container-limit" th:text="|Wszystkie gry wydane przez ${company.name}|"></h2>
            <ul id="games-list-publisher" class="games-list-hide container-limit">
                <li class="game-list-info">
                    <p>Tytuł</p>
                    <p>Platformy</p>
                    <p>Data pierwszego wydania</p>
                </li>
                <li th:each="allGames:${allGamesByPublisherId}">
                    <div class="game-list-container">
                        <p>
                            <a href="#" th:href="@{|/gry/${#strings.replace(allGames.title,' ','-')}/${allGames.id}|}"
                               class="game-link">
                                <strong th:text="${allGames.title}"></strong>
                                <i th:text="${allGames.platforms}">PC, XONE, X360</i>

                            </a>
                            <span class="game-date" th:text="${#temporals.format(allGames.firstReleaseDate, 'd MMM yyyy')}">2019</span>
                        </p>
                    </div>

                    <!--                        <span class="all-games-list" th:text="${allGames.title}"></span>-->
                    <!--                        <span class="all-games-platforms" th:text="${allGames.releaseYear.keySet()}"></span>-->
                    <!--                        <span class="games-date" th:text="${allGames.releaseYear.values()}"></span>-->
                    </a>
                </li>
                <li th:if="${allGamesByPublisherId.size() ge 25}">
                    <button id="publisher-button" class="company-type-button" onclick="showAllPublishedGames()"
                            type="button">Pokaż wszystkie wydane
                    </button>
                </li>
            </ul>
        </section>
    </div>
    <script src="/static/scripts/company.js" th:src="@{/scripts/company.js}"></script>
    <script src="/scripts/companySearch.js" th:src="@{/scripts/companySearch.js}"></script>
</main>
</body>
</html>