<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="${title}">Kategorie gier - Game-zone</title>
</head>
<body>
<main class="main-content margin-box" layout:fragment="content">
    <h2 class="list-heading" th:text="${heading}">Tytuł</h2>
    <p class="list-description" th:text="${description}">Opis</p>
    <div class="company-container">
        <div class="company-button-container">
            <a class="company-type-button" href="/katalog-firm/firma/polscy-producenci"
               th:href="@{/katalog-firm/firma/polscy-producenci}">Polscy Producenci Gier</a>

            <a class="company-type-button" href="/katalog-firm/firma/polscy-wydawcy"
               th:href="@{/katalog-firm/firma/polscy-wydawcy}">Polscy Wydawcy Gier</a>

            <a class="company-type-button" href="/katalog-firm/firma/producenci/top-producenci"
               th:href="@{/katalog-firm/firma/producenci/top-producenci}">Producenci Gier</a>

            <a class="company-type-button" href="/katalog-firm/firma/wydawcy/top-wydawcy"
               th:href="@{/katalog-firm/firma/wydawcy/top-wydawcy}">Wydawcy Gier</a>
            <div class="company-search-container">
                <div class="company-search-row" id="company-search-row">
                    <input type="text" id="company-search-input"
                           class="company-search-input"
                           placeholder="szukaj firmy"
                           aria-label="szukaj firmy"
                           aria-autocomplete="none"
                           autocomplete="off"
                           autocorrect="off">
                    <button class="company-search-button"><i class="fa-solid fa-xmark"></i></button>
                    <div class="company-result-box company-result-box-hide" id="company-result-box">
                        <div id="company-result-list"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="company-center-container" id="all-companies-limited-to-24"
             th:unless="${displayPolishProducersFlag} or ${displayPolishPublishersFlag}
              or ${displayProducerFlag} or ${displayPublisherFlag}">

            <h2 class="company-heading">Polscy Producenci Gier</h2>
            <ul class="company-list">
                <li th:each="polishProducer,count :${polishProducers}" th:if="${count.index lt 24}">
                    <a href="#"
                       th:href="@{|/katalog-firm/firma/${#strings.replace(polishProducer.name,' ','-')}/${polishProducer.id}|}"
                       th:text="${polishProducer.name}">Cd Projekt Red</a>
                </li>
            </ul>

            <h2 class="company-heading">Polscy Wydawcy Gier</h2>
            <ul class="company-list">
                <li th:each="polishPublisher,count :${polishPublishers}" th:if="${count.index lt 24}">
                    <a href="#"
                       th:href="@{|/katalog-firm/firma/${#strings.replace(polishPublisher.name,' ','-')}/${polishPublisher.id}|}"
                       th:text="${polishPublisher.name}">Cd Projekt Red</a>
                </li>
            </ul>

            <h2 class="company-heading">Producenci Gier</h2>
            <ul class="company-list">
                <li th:each="allProducer,count :${allProducers}" th:if="${count.index lt 24}">
                    <a href="#"
                       th:href="@{|/katalog-firm/firma/${#strings.replace(allProducer.name,' ','-')}/${allProducer.id}|}"
                       th:text="${allProducer.name}">Cd Projekt Red</a>
                </li>
            </ul>

            <h2 class="company-heading">Wydawcy Gier</h2>
            <ul class="company-list">
                <li th:each="allPublisher,count :${allPublishers}" th:if="${count.index lt 24}">
                    <a href="#"
                       th:href="@{|/katalog-firm/firma/${#strings.replace(allPublisher.name,' ','-')}/${allPublisher.id}|}"
                       th:text="${allPublisher.name}">Cd Projekt Red</a>
                </li>
            </ul>
        </div>

        <div class="company-center-container" id="polish-producers" th:if="${displayPolishProducersFlag}">
            <h2 class="company-heading">Polscy Producenci Gier</h2>
            <ul class="company-list">
                <li th:each="polishProducer :${polishProducers}">
                    <a href="#"
                       th:href="@{|/katalog-firm/firma/${#strings.replace(polishProducer.name,' ','-')}/${polishProducer.id}|}"
                       th:text="${polishProducer.name}">Cd Projekt Red</a>
                </li>
            </ul>
        </div>

        <div class="company-center-container" id="polish-publishers" th:if="${displayPolishPublishersFlag}">
            <h2 class="company-heading">Polscy Wydawcy Gier</h2>
            <ul class="company-list">
                <li th:each="polishPublisher :${polishPublishers}">
                    <a href="#"
                       th:href="@{|/katalog-firm/firma/${#strings.replace(polishPublisher.name,' ','-')}/${polishPublisher.id}|}"
                       th:text="${polishPublisher.name}">Cd Projekt Red</a>
                </li>
            </ul>
        </div>

        <div class="companies-list-container" id="all-producers"
             th:if=" ${displayProducerFlag}">
            <span class="decoration-line"></span>
            <div class="company-letter-container">
                        <a class="company-letter-button" href="/katalog-firm/firma/producenci/top-producenci"
                           th:href="@{/katalog-firm/firma/producenci/top-producenci}">Top 100</a>
                        <a class="company-letter-button" href="/katalog-firm/firma/producenci/0-9"
                           th:href="@{/katalog-firm/firma/producenci/0-9}">#</a>
                        <a  th:each="letter:${alphabet}" class="company-letter-button" href="/katalog-firm/firma/producenci/"
                           th:href="@{'/katalog-firm/firma/producenci/'+${letter}}" th:text="${letter}">a</a>
            </div>
            <h2 class="company-heading" th:if="${allProducers}">Producenci Gier - top 100</h2>
            <h2 class="company-heading" th:if="${producersByLetter}" th:text="|Producenci Gier - na litere ${letter}|">Producenci Gier - top 100</h2>
            <h2 class="company-heading" th:if="${producersByDigit}" th:text="|Producenci Gier - na ${letter}|">Producenci Gier - top 100</h2>
            <ul class="company-list">
                <li  th:each="allProducer,count :${allProducers}" th:if="${count.index lt 100}">
                    <a href="#"
                       th:href="@{|/katalog-firm/firma/${#strings.replace(allProducer.name,' ','-')}/${allProducer.id}|}"
                       th:text="${allProducer.name}">Cd Projekt Red</a>
                </li>

                <li  th:each="producersByLetter :${producersByLetter}">
                    <a href="#"
                       th:href="@{|/katalog-firm/firma/${#strings.replace(producersByLetter.name,' ','-')}/${producersByLetter.id}|}"
                       th:text="${producersByLetter.name}">Cd Projekt Red</a>
                </li>

                <li  th:each="producersByDigit :${producersByDigit}">
                    <a href="#"
                       th:href="@{|/katalog-firm/firma/${#strings.replace(producersByDigit.name,' ','-')}/${producersByDigit.id}|}"
                       th:text="${producersByDigit.name}">Cd Projekt Red</a>
                </li>
            </ul>
        </div>


        <div class="companies-list-container" id="all-publishers"
             th:if="${displayPublisherFlag}">
            <span class="decoration-line"></span>
            <div class="company-letter-container">
                <a class="company-letter-button" href="/katalog-firm/firma/wydawcy/top-wydawcy"
                   th:href="@{/katalog-firm/firma/wydawcy/top-wydawcy}">Top 100</a>
                <a class="company-letter-button" href="/katalog-firm/firma/wydawcy/0-9"
                   th:href="@{/katalog-firm/firma/wydawcy/0-9}">#</a>
                <a  th:each="letter:${alphabet}" class="company-letter-button" href="/katalog-firm/firma/wydawcy"
                    th:href="@{'/katalog-firm/firma/wydawcy/'+${letter}}" th:text="${letter}">a</a>
            </div>
            <h2 class="company-heading" th:if="${allPublishers}">Wydawcy Gier - top 100</h2>
            <h2 class="company-heading" th:if="${publishersByLetter}" th:text="|Wydawcy Gier - na litere ${letter}|">Wydawcy Gier - na litere A</h2>
            <h2 class="company-heading" th:if="${publishersByDigit}" th:text="|Wydawcy Gier - na ${letter}|">Wydawcy Gier - na 0-9</h2>
            <ul class="company-list">
                <li  th:each="allPublishers,count :${allPublishers}" th:if="${count.index lt 100}">
                    <a href="#"
                       th:href="@{|/katalog-firm/firma/${#strings.replace(allPublishers.name,' ','-')}/${allPublishers.id}|}"
                       th:text="${allPublishers.name}">Cd Projekt Red</a>
                </li>

                <li  th:each="publisherByLetter :${publishersByLetter}">
                    <a href="#"
                       th:href="@{|/katalog-firm/firma/${#strings.replace(publisherByLetter.name,' ','-')}/${publisherByLetter.id}|}"
                       th:text="${publisherByLetter.name}">Cd Projekt Red</a>
                </li>

                <li  th:each="publisherByDigit :${publishersByDigit}">
                    <a href="#"
                       th:href="@{|/katalog-firm/firma/${#strings.replace(publisherByDigit.name,' ','-')}/${publisherByDigit.id}|}"
                       th:text="${publisherByDigit.name}">Cd Projekt Red</a>
                </li>
            </ul>
        </div>

    </div>
    <script src="/scripts/companySearch.js" th:src="@{/scripts/companySearch.js}"></script>
</main>
</body>
</html>