<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
          integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="preconnect" href="https:/@/fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.png" th:href="@{/img/favicon.png}">
    <title>GameZone</title>
</head>

<body>
<div class="container">
    <div class="hide-jumbotron" id="hide-jumbotron">
        <div class="navbar">
            <header class="jumbotron">
                <div class="jumbotron-box">
                    <div class="jumbotron-text">
                        <div class="menu-logo-container">
                            <a href="#" th:href="@{/}">
                                <i class="fa-solid fa-dragon logo"></i> GameZone
                            </a>
                        </div>
                        <p class="jumbotron-description" th:if="${sectionDescription}"
                           th:text="${sectionDescription}">Encyklopedia gier</p>
                    </div>

                    <div class="login-search-bar-container">
                        <div class="login-box">
                            <div class="user-login-box">
                               <span class="header-menu-item" sec:authorize="isAnonymous()">
                                <a href="#" th:href="@{/zaloguj}">zaloguj się</a>
                                </span>
                                <span class="header-menu-item" sec:authorize="isAnonymous()">
                                 <a href="#" th:href="@{/rejestracja}">rejestracja</a>
                                </span>
                                <span class="header-menu-item" sec:authorize="isAuthenticated()">
                                 <a href="#" class="user-details-info">
                                     <p th:text="${username}"></p>
                                 </a>
                                    <a href="#" th:href="@{/wyloguj}" class="user-details-info">
                                        <i class="fa-solid fa-power-off" title="wyloguj"></i>
                                    </a>
                                </span>
                            </div>

                            <span class="menu-top-media">
                            <a href="https://www.linkedin.com/in/dominik-koperek/" target="_blank">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </span>
                            <span class="menu-top-media">
                               <a href="https://www.linkedin.com/in/dominik-koperek/" target="_blank">
                                   <i class="fa-brands fa-instagram"></i>
                               </a>
                             </span>
                            <span class="menu-top-media">
                            <a href="https://www.linkedin.com/in/dominik-koperek/" target="_blank">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </span>
                        </div>

                        <div class="login-search-bar-menu-container">
                            <div class="login-search-bar" id="nav-bar-search-row">
                                <input type="text" placeholder="szukana gra..." aria-autocomplete="none"
                                       autocomplete="off" autocorrect="off" id="nav-bar-search-input">
                                <button class="company-search-button" id="company-search-button">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                                <div class="login-search-bar-extend company-result-box-hide" id="nav-bar-box">
                                    <div class="login-search-bar-list" id="nav-bar-list-box"></div>
                                </div>
                            </div>

                            <div class="nav-icon" onclick="body.classList.toggle('nav-open')" id="menu-button">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>

                    </div>
                </div>
            </header>

            <nav class="nav-container">
                <div class="sub-nav-items">
                    <a href="#" th:href="@{/newsroom}">Newsroom</a>
                    <a href="#" th:href="@{/gry}">Encyklopedia Gier</a>
                    <a href="/polecane-gry" th:href="@{/teksty-o-grach}">Teksty</a>
                    <a href="/firma" th:href="@{/poradniki-do-gier}">Poradniki</a>
                    <a href="/admin" th:href="@{/admin}" sec:authorize="hasAnyRole('ADMIN','MODERATOR')">Admin</a>
                </div>
            </nav>
        </div>

        <nav class="sub-nav-container" th:if="${displayGameListNav}" id="sub-navbar">
            <div class="sub-nav-items">
                <a href="/polecane-gry" th:href="@{/gry/wyszukiwarka}">Wyszukiwarka</a>
                <a href="/polecane-gry" th:href="@{/gry/top-gry}">Top gry</a>
                <a href="/katalog-firm/" th:href="@{/katalog-firm}">Katalog firm</a>
                <a href="/kategorie/" th:href="@{/gry/kategorie}">Kategorie</a>
            </div>
        </nav>
        <nav class="extend-nav-container hidden" id="extend-nav-bar">
            <div class="menu-extend-border-right menu-extend-top-content-box">
                <a href="#" th:href="@{/newsroom}" class="menu-head">Newsroom</a>
                <a href="#" th:href="@{/newsroom/wiadomosci}" class="menu-subhead">wiadomości</a>
                <a href="#" th:href="@{/newsroom/popularne}" class="menu-subhead">popularne</a>
                <a href="#" th:href="@{/newsroom/top-tematy}" class="menu-subhead">top tematy</a>
                <span class="menu-extend-top-border-right"></span>
                <a href="#" th:href="@{/teksty-o-grach}" class="menu-head">Teksty</a>
                <a href="#" th:href="@{/teksty-o-grach/recenzje}" class="menu-subhead">recenzje</a>
                <a href="#" th:href="@{/teksty-o-grach/przed-premiera}" class="menu-subhead">przed premierą</a>
            </div>
            <div class="menu-extend-top-content-box menu-extend-border-right">
                <a href="#" th:href="@{/gry}" class="menu-head">Encyklopedia gier</a>
                <a href="#" th:href="@{/gry/wyszukiwarka} " class="menu-subhead">wyszukiwarka</a>
                <a href="#" th:href="@{/gry/top-gry}" class="menu-subhead">top gry</a>
                <a href="#" th:href="@{/gry/kategorie} " class="menu-subhead">kategorie</a>
                <a href="#" th:href="@{/katalog-firm}" class="menu-subhead">katalog firm</a>
                <span class="menu-extend-top-border-right"></span>
                <a href="#" th:href="@{/poradniki-do-gier}" class="menu-head">Poradniki</a>
            </div>
            <div class="menu-user-container-box">
                <div class="menu-user-container">
                    <a href="#" class="user-head">Twój profil
                        <i class="fa-solid fa-user"></i>
                    </a>
                    <a href="#" class="user-head">Kolekcja Gier
                        <i class="fa-solid fa-heart"></i>
                    </a>
                    <a href="#" class="user-head">Ustawienia
                        <i class="fa-solid fa-gear"></i>
                    </a>
                </div>
            </div>
            <div class="menu-footer-box">
                <div class="menu-footer">
                        <span class="menu-footer-element">
                            <a href="https://www.linkedin.com/in/dominik-koperek/" target="_blank">
                              <i class="fa-brands fa-instagram"></i>
                              <span>Instagram: </span>GameZone
                            </a>
                        </span>
                    <span class="menu-footer-element">
                            <a href="https://www.linkedin.com/in/dominik-koperek/" target="_blank">
                              <i class="fa-brands fa-youtube"></i>
                                <span>YT: </span>GameZone
                            </a>
                        </span>
                    <span class="menu-footer-element">
                            <a href="https://www.linkedin.com/in/dominik-koperek/" target="_blank">
                              <i class="fa-brands fa-twitter"></i>
                                <span>Twitter: </span>GameZone
                            </a>
                        </span>
                    <span class="menu-footer-element">
                            <a href="https://www.linkedin.com/in/dominik-koperek/" target="_blank">
                             <i class="fa-solid fa-users"></i>
                                Redakcja GameZone
                            </a>
                        </span>
                </div>
            </div>
        </nav>
    </div>

    <div class="mobile-nav-container-hide" id="mobile-nav-bar-hide">
        <div class="mobile-nav-container">
            <div class="mobile-nav-icon" id="mobile-show-button">
                <i class="fa-solid fa-bars"></i>
            </div>

            <div>
                <a href="#" th:href="@{/}">
                    <i class="fa-solid fa-dragon logo"></i> GameZone
                </a>
                <p class="mobile-nav-description" th:if="${sectionDescription}"
                   th:text="${sectionDescription}">Encyklopedia gier</p>
            </div>

            <div class="mobile-search-icon">
                <button class="company-search-button" id="mobile-search-input">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>

        <div class="mobile-search-bar-container mobile-search-bar-container-hide" id="mobile-search-bar-container">
            <input type="text"
                   placeholder="szukana gra..."
                   aria-label="szukana gra..."
                   aria-autocomplete="none"
                   autocomplete="off"
                   autocorrect="off"
                   id="nav-bar-search-input-mobile"
                   tabindex="1">
            <button class="company-search-button" id="mobile-search-button">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <div class="login-search-bar-extend-mobile company-result-box-hide" id="nav-bar-box-mobile">
                <div class="login-search-bar-list-mobile" id="nav-bar-list-box-mobile">
                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="mobile-menu-sticky hide-stats-container" id="mobile-menu-sticky">
            <div class="mobile-menu-container hide-stats-container" id="mobile-menu-container">
                <button class="rate-stats-close" id="close-mobile">
                    <i class="fa-solid fa-x"></i>
                </button>
                <div class="menu-mobile menu-head menu-mobile-first">
                    <a href="#">Newsroom</a>
                </div>
                <div class="menu-mobile-extended">
                    <a href="#" class="mobile-menu-subhead">wiadomości</a>
                    <a href="#" class="mobile-menu-subhead">popularne</a>
                    <a href="#" class="mobile-menu-subhead">top tempaty</a>
                </div>

                <div class="menu-mobile menu-head">
                    <a href="#">Teksty</a>
                </div>
                <div class="menu-mobile-extended">
                    <a href="#" class="mobile-menu-subhead">recenzje</a>
                    <a href="#" class="mobile-menu-subhead">przed premierą</a>
                </div>

                <div class="menu-mobile menu-head">
                    <a href="#" th:href="@{/gry}">Encyklopedia Gier</a>
                </div>
                <div class="menu-mobile-extended">
                    <a href="#" th:href="@{/gry/wyszukiwarka}"class="mobile-menu-subhead">wyszukiwarka</a>
                    <a href="#" th:href="@{/gry/top-gry}" class="mobile-menu-subhead">top gry</a>
                    <a href="#" th:href="@{/gry/kategorie} " class="mobile-menu-subhead">kategorie</a>
                    <a href="#" th:href="@{/katalog-firm}" class="mobile-menu-subhead">katalog firm</a>
                </div>
                <div class="menu-mobile menu-head">
                    <a href="#">Poradniki</a>
                </div>

                <div class="mobile-menu-user-container">
                    <div class="mobile-user-details">
                        <a href="#" th:href="@{/zaloguj}" class="user-head">Zaloguj się</a>
                        <a href="#" th:href="@{/rejestracja}" class="user-head">Rejestracja</a>
                        <a href="#" class="user-head">Twój profil
                            <i class="fa-solid fa-circle-user"></i>
                        </a>
                        <a href="#" class="user-head">Kolekcja Gier
                            <i class="fa-solid fa-heart"></i>
                        </a>
                        <a href="#" class="user-head">Ustawienia
                            <i class="fa-solid fa-gear"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <main class="main-content margin-box" layout:fragment="content">
    </main>

    <footer class="footer">
        <p id="copyright"> GameZone</p>
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script defer src="../static/scripts/common.js" th:src="@{/scripts/common.js}"></script>
</body>

</html>