<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Resetuj hasło</title>
</head>
<body>
<main class="main-content" layout:fragment="content">
    <p class="notification-bar user-notification-bar" th:if="${notification}" th:text="${notification}">Powiadomienia</p>

    <section class="login-center-box">
        <div class="login-container-wrapper margin-box">
            <div class="form-button-container">
                <a class="form-back-button" th:href="@{/zaloguj}">
                    <i class="fa-solid fa-chevron-left logo"></i>
                    wróć
                </a>
            </div>

            <h2 class="list-heading">Zresetuj hasło</h2>
            <form  th:action="@{/resetuj-haslo}" th:object="${emailDto}" method="post" class="login-form">

                <div class="login-input-box">
                    <input th:field="*{email}" type="email" name="email" placeholder="email" tabindex="1">
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <button type="submit" class="login-button" tabindex="3">Resetuj hasło</button>
                <div class="input-validation-container">
                    <p class="notification-error login-errors" th:errors="${emailDto.email}">Powiadomienie</p>
                </div>
            </form>
        </div>

    </section>
</main>

</body>
</html>